*{
    margin:0px;padding:0px;
}
body{
    background:#ebebeb;
    font-size:12px;
    color:#333333;
    line-height:24px;
    font-family: 'Tahoma','Arial','Sans-Serif';
}
img{
    border:0px;
}
ul,li{
    padding:0px;margin:0px;list-style: none;
}
form {margin:0px;}
a{
    text-decoration:none;
}
input {font-size:12px;font-family: "Tahoma", "Arial", "Sans-Serif";}
a:link    {color:#333333}
a:visited {color:#333333}
a:hover   {color:#bb131b}
a:active  {color:#333333}
.red {color:#bb131b;text-decoration:none;}
.red a:link    {color:#bb131b}
.red a:visited {color:#bb131b}
.red a:hover   {color:#a0603d}
.red a:active  {color:#bb131b}
/*header开始*/
del,.clear,.hidden{
    float:none;
    clear:both;
    display:block;
    font-size:0px;
    height:0px;
    width:auto;
    line-height:0px;
    min-height:0px;
    overflow:hidden
}
.header {
    width:100%;
    height:30px;
    background:#f3f3f3;
    border-bottom:1px solid #ffffff;
    z-index: 99999;
}
#header{
    width:100%;
    height:30px;
    position:fixed;
    top:0px;
    left:0px;
    /*_position:absolute;*/
    /*_top:expression(documentElement.scrollTop+"px");*/
    z-index: 99999;
}
.header_box{
    height:30px;
    line-height: 30px;
    margin:0px auto;
    width:1349px;
}
.header_left{
    width:500px;
    float:left;
    margin-left:65px;
}
.header_left .location{
    width:70px;
    float:left;
}
.header_left label {
    padding-right:10px;
}
.header_right{
    width: 710px;
    float:right;
    text-align:right;
    margin-right:50px;
}
.header_right label{
    padding:0px 10px;
}
label{
    cursor: default;
}
.my-Acc{
    width: 82px;
    height: 30px;
    display: inline-block;
    text-align: left;
    text-indent: 1em;
}
.my-Menu{
    width: 82px;
    height: 90px;
    background-color: #FFF;
    position: absolute;
    top: 21px;
    left: 10px;
    display: none;
}
.my-Accbg{
    background: #fff;
}
.my-Menu ul li{
    line-height:20px;
    text-align: center;
}
/*header结束*/
.head_banner{
    width: 100%;
    height: 100px;
    background: #ed2210;
    overflow: hidden;
}
/*head开始*/
.head{
    width: 100%;
    height: 100px;
    background: #e1e1e1;
}
.head_box{
    height: 100px;
    margin: 0px auto;
    position: relative;
    z-index: 1000;
    width:1200px;
}
.search_input {
    border: 0px;
    vertical-align: middle;
    margin-left: -4px;
    width: 240px;
    height: 35px;
    line-height: 35px;
    padding: 0px 5px;
    color: #666666;
}
.search_button {
    width: 80px;
    height: 35px;
    cursor: pointer;
    background: url(../images/search_button.jpg) no-repeat;
    margin-left:-5px;
}
input {
    font-size: 12px;
    font-family: "Tahoma", "Arial", "Sans-Serif";
    border:none;
}
.search {
    width: 360px;
    height: 35px;
    position: absolute;
    top: 30px;
    left:404px;
}
.small_banner {
    position: absolute;
    left: -140px;
    top: -50px;
}
.hot_search {
    width: 350px;
    line-height: 30px;
    position: absolute;
    top: 62px;
    left:404px;
    height: 30px;
}
.hot_search label {
    padding-right: 10px;
}
strong,b{
    cursor: default;
}
.s_cart {
    width: 144px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left:786px;
}
.cart_detail {
    position: absolute;
    right: 0px;
    top: 35px;
    width: 300px;
    display: none;
    background: #ffffff;
    padding: 10px 10px 10px 10px;
}
.no_cart {
    text-align: center;
    color: #bb131b;
}
.zp_th_myf {
    width: 220px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
}
/*-----------------------------------------------------*/
/*----------------menu开始--------------*/
.menu {
    width:100%;
    height:40px;
    border-top:1px solid #f3f3f3;
    border-bottom:3px solid #a0603d;
}

.menu_box {
    height:40px;
    margin:0px auto;
    position:relative;
    z-index:999;
}

.nav_left {
    width:200px;
    height:auto;
    position:absolute;
    z-index:99999;
}

.nav_left li {
    width:200px;
    float:left;
    list-style:none;
}

.nav_left li ul {
    margin:0;
    padding:0;
    position:absolute;
}

#nav li ul {
    visibility:hidden;
}

.nav_left_t {
    width:200px;
    height:43px;
    cursor:pointer;
    background:url(../images/nav_left_t.jpg) no-repeat;
}

.popnav {
    width:200px;
    position:relative;
    left:0px;
    top:0px;
}

.sn_nav {
    position:relative;
}

.nav_li {
    height:50px;
    overflow:hidden;
}

.nav_items {
    width:196px;
    height:46px;
    line-height:23px;
    padding:4px 0px 0px 4px;
    background:url(../images/nav_left_bg1.jpg) no-repeat;
    overflow:hidden;
}

.nav_items_t {
    width:45px;
    font-weight:bold;
    float:left;
}

.nav_items_c {
    width:145px;
    float:left;
}

.nav_items_c label {
    width:68px;
    float:left;
    display:block;
}

.nav_items a:link,.nav_items a:visited{color:white;}
.nav_items a:hover,.nav_items a:active {color:red;}

/*.list_current {
    background:#a0603d url(../images/nav_left_bg2.jpg) no-repeat;
}*/

.popbox {
    width:560px;
    min-height:250px;
    left:200px;
    top:0px;
    color:#ffffff;
    background:#ba7b57;
    position:absolute;
}

.popbox a:link,.popbox a:visited,.popbox a:hover,.popbox a:active {color:#ffffff;}
.listbox_t,.listbox_t a:link,.listbox_t a:visited,.listbox_t a:hover,.listbox_t a:active {color:#5e341d;}

.listbox {
    width:390px;
    padding:5px 10px;
    float:left;
}

.listbox_mod {
    width:390px;
    padding:5px 0px;
    border-bottom:1px dotted #8a5335;
}

.listbox_t {
    width:70px;
    font-size:14px;
    font-weight:bold;
    float:left;
}

.listbox_c1,.listbox_c2 {
    width:320px;
    height:auto;
    float:left;
}

.listbox_c1 label {
    width:80px;
    float:left;
    display:block;
}

.listbox_c2 label {
    padding-right:30px;
}

.brandbox {
    width:150px;
    height:auto;
    float:left;
}

.brandbox_t {
    width:140px;
    height:35px;
    line-height:35px;
    color:#5e341d;
    font-size:14px;
    font-weight:bold;
    text-align:center;
}

.brandbox_c {
    width:140px;
    height:auto;
}

.brandbox_c img {
    width:60px;
    height:60px;
}

.brandbox_c label {
    width:60px;
    padding:5px 0px 5px 10px;
    float:left;
    display:block;
}
/*---------------*/
.nav_right {
    width:990px;
    height:40px;
    line-height:43px;
    position:absolute;
    top:0px;
    left:210px;
    z-index:1;
}

.nav_right li {
    width: 80px;
    height:40px;
    text-align:center;
    font-size:14px;
    float:left;
    display:block;
    position:relative;
    background:url(../images/nav_right_c1.jpg)no-repeat;
}

.nav_right li a:link,.nav_right li a:visited {display:block;}
.nav_right li a:active {color:#ffffff; text-decoration:none;}
.nav_right li.nav_right_c a:link,.nav_right li.nav_right_c a:visited {color:#ffffff;display:block;}
